<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
    <head>
        <title th:text="#{titulo}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div layout:fragment="contenido">
            <div class="container-fluid mt-4 px-4 mb-4">
                <div class="card">
                    <form th:action="@{/clientes/guardar}" method="post" th:object="${cliente}">
                        <div class="card-header">
                            <h4 th:text="${subtitulo}" ></h4>
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-1 mb-2">
                                <div class="col col-sm-6">
                                    <div class="form">
                                        <label for="ape" class="form-label">Apellidos</label>
                                        <input id="ape" type="text" class="form-control" th:field="*{apellido}" />
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="form">
                                            <label for="nom" class="form-label">Descripcion</label>
                                            <input id="nom" type="text" class="form-control" th:field="*{nombre}"
                                                   th:errorclass="'form-control alert-danger'" />
                                            <small class="form-text text-danger" th:errors="*{nombre}" 
                                                   th:if="${#fields.hasErrors('nombre')}"></small>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="form">
                                            <label for="dni" class="form-label">Nro Documento</label>
                                            <input id="dni" type="text" class="form-control" th:field="*{nroDocumento}" 
                                                   th:errorclass="'form-control alert-danger'" />
                                            <small class="form-text text-danger" th:errors="*{nroDocumento}" 
                                                   th:if="${#fields.hasErrors('nroDocumento')}"></small>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="form">
                                            <label for="tel" class="form-label">Telefono</label>
                                            <input id="tel" type="text" class="form-control" th:field="*{telefono}" 
                                                   th:errorclass="'form-control alert-danger'" />
                                            <small class="form-text text-danger" th:errors="*{telefono}" 
                                                   th:if="${#fields.hasErrors('telefono')}"></small>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="form">
                                            <label for="email" class="form-label">Correo Electronico</label>
                                            <input id="email" type="email" class="form-control" th:field="*{email}" />
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="form">
                                            <label for="domicilio" class="form-label">Domicilio</label>
                                            <input id="domicilio" type="text" class="form-control" th:field="*{domicilio}" />
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                        <div class="form">
                                            <label for="nota" class="form-label">Nota</label>
                                            <input id="nota" type="text" class="form-control" th:field="*{nota}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-primary float-end ms-2">
                                Guardar
                            </button>
                            <a th:href="@{/clientes/listado}" class="btn btn-outline-secondary float-end">
                                Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:fragment="js"></script>
    </body>
</html>
