<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
    <head>
        <title th:text="#{titulo}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- BS5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <!-- Custom styles for this template -->
        <link href="/css/signin.css" rel="stylesheet" type="text/css"/>

        <link rel="icon" type="image/png" th:href="@{/img/logo.png}" />
    </head>
    <body class="text-center">

        <main class="form-signin">
            <form th:action="@{/login}" method = "post">
                <img class="mb-4" th:src="@{/img/logo.png}" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
                    <br />
                    
                    <!-- Mensajitos -->
                    <p th:if="${param.error}" class="text-danger text-center">Usuario o contraseña incorrectos...</p>                    
                    <p th:if="${param.logout}" class="text-info text-center">Sesión cerrada...</p>
                                  
                    <div class="form-floating">
                        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Usuario">
                            <label for="floatingInput">Nombre de Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Clave">
                            <label for="floatingPassword">Contraseña</label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
                    <p class="mt-5 mb-3 text-muted">Analistas&copy;2021</p>
            </form>
        </main>

    </body>
</html>
